# git-ls-files --others --exclude-from=.git/info/exclude
.vs
bin
obj
build
Debug
Release
ipch
*.obj
*.pch
*.pdb
*.idb
*.ilk
*.lib
*.ncb
*.lst
*.suo
*.aps
*.user
*.scc
*.opt
*.plg
*.bsc
*.sbr
*.bini
*.vspscc
*.vssscc
*.vsp
*.psess
*.depend
*.log
*.gch
*.opensdf
*.sdf
.DS_Store
*.opendb
*.VC.db
